.First{
  font-style: italic;
}
.Lorem{
  font-size: 20px
}
.dummy{
  color: red;
}


.example1{
  font-weight: bolder;

}

.divexample{
  font-size: 15px;
}

.exception{
  font-size: 30px;
}

.name{
  font-style: italic;
  font-weight: bold;
}

.crap{
  border: 2px solid red;
  padding: 50px;
  margin: auto;
 width: 50%;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: black;
    color: white;
  }
}
